<div class="title">
  <strong>Title</strong>
  <%= @post.title %>
</div>
<div class="body">
  <strong>Text</strong>
  <%= simple_format(@post.body) %>
</div>


<ul>

  <div class="comments">
    <strong>Comments</strong>
    <% @post.comments.each do |comment| %>
    <li><%= comment.title %></li>
    <% end %>
  </div>

  <%= render 'commentform' %>

</ul>
